{% extends 'start/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Log In{% endblock title %}

{% block content %}
<h2 class="d-flex p-2 justify-content-center text-secondary">Bejelentkezés</h2>
<form method="post">
  <div class="d-flex justify-content-center">
    <div class="mt-3 col-md-4">
      {% csrf_token %}
      {{ form|crispy }}
      <button class="mt-4 col-12 btn btn-block btn-primary" type="submit">Belépek</button>  
    </div>
</div>
</form>
<div class="d-flex p-2 justify-content-center">
  <p class="mt-4">Ha még nem regisztrált: <a href="{% url 'signup' %}">&nbsp;Regisztrálok</a></p>
</div>
{% endblock content %}