{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}django-start{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- bootstrap5 -->
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
  <!-- CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'start/css/base.css' %}">
</head> 
<body>
  <div class="d-flex p-3 me-md-5 ms-md-5">
    <div class="me-auto p-2"><a href="{% url 'home' %}"><h4 class="h1 text-success"><i class="fa fa-home"></i></h4></a></div>
    {% if user.is_authenticated %}
    <div class="p-2"><a class="h1 text-secondary" href="{% url 'logout' %}"><i class="fa fa-sign-out"></i></a></div>
    {% else %}
    <div class="p-2"><a class="h1 text-secondary" href="{% url 'login' %}"><i class="fa fa-user"></i></a></div>
    {% endif %}
  </div>
  <hr>  
  <div class="container">
    {% block content %}
    {% endblock content %}
  </div>
  <!-- bootstrap5 -->
  <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
  <!-- JavaScript -->
  <script src="{% static 'start/js/base.js' %}"></script>
</body>
</html>