{% extends 'start/base.html' %}
{% block title%}Home{% endblock title %}

{% block content %}
<h2 class="d-flex justify-content-center p-2 text-success">User-admin template</h2>
<h3 class="m-3">Hi! <span class="text-secondary">{% if user.is_authenticated %}{{ user.username }}{% else %}&lt;username&gt;{% endif %}</span></h3>
<hr>
{% if user.is_authenticated %}
<ul>  
  <li><p class="m-3">Ez a tartalom csak bejelentkezett felhasználók számára elérhető!</p></li>
  <li><p class="m-3">Irány a <span><a href="{% url 'start' %}">Start oldal</a></span></p></li>
</ul>
{% endif %}
{% endblock content %}