{% extends 'start/base.html' %}
{% block title%}Home{% endblock title %}

{% block content %}
<h1 class="d-flex pb-5 justify-content-center text-success">User-admin template</h1>
<hr>
<div class="d-flex m-3 justify-content-md-end">
  {% if user.is_authenticated %}
    <a class="h1 text-secondary" href="{% url 'logout' %}"><i class="fa fa-sign-out"></i></a>
  {% else %}
    <a class="h1 text-secondary" href="{% url 'login' %}"><i class="fa fa-user"></i></a>
  {% endif %}
</div>
<hr>
<h2 class="m-3">Hi! <span class="text-secondary">{% if user.is_authenticated %}{{ user.username }}{% else %}&lt;username&gt;{% endif %}</span></h2>
<hr>
{% if user.is_authenticated %}
<ul>  
  <li><p class="m-3">Ez a tartalom csak bejelentkezett felhasználók számára elérhető!</p></li>
  <li><p class="m-3">Irány a <span><a href="{% url 'start' %}">Start oldal</a></span></p></li>
</ul>
{% endif %}
{% endblock content %}